/* utils */
.dark{
    color: #333;
}

.white {
    color: #fff;
}

section {
    margin-bottom: 90px;
}

.btn {
    border: 1px solid #fff;
}

.star-bar{
    height: 2px;
    width: 150px;
    background-color: #fff;
    border: 1px solid white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
} 


/* bg colors */
.bg-dark-blue {
    background-color: #2c3e50;
}

.bg-green {
    background-color: #1abc9c;
}

.bg-blue {
    background-color: #3a546d;
}


/* jumbrotron*/
#avatar {
    width: 255px;
    height: 255px;
}

.star-bar-white{
    background-color: #fff;
    border: 1px solid #fff;
} 

.star-bar-blue{
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
} 



/* portfolio */
.img-box img{
    max-width: 360px;
    border-radius: 20px;
}

/* contacts */
#contacts .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
    
}

/* footer */

/* info */
.social i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

#info a {
    text-decoration: none;
    color: #1abc9c;
}

#info a:hover {
    text-decoration: underline;
}

/* copyright */
.copyright {
    border: 3px solid black ;
    min-height: 80px;
}

.copyright .col {
    border: 2px dashed blue;
    min-height: 80px;
}