
.header-bar {
    border: 1px solid red;
    min-height: 80px;
}

.header-title {
    border: 1px dashed blue;
    min-height: 50px;
}

.jumbotron {
    border: 3px solid black;
    min-height: 200px;
}

.jumbo-items {
    border: 2px dashed orange;
    min-height: 50px;
}

.img-test {
    border: 3px dashed cadetblue;
    min-height: 100px;
    min-width: 150px;
}