/* header */
.bg-dark-blue {
    background-color: #2c3e50;
}


/* jumbrotron + about */
.jumbotron {
    border: 3px solid black;
    min-height: 200px;
}

.jumbo-items {
    border: 2px dashed orange;
    min-height: 50px;
}


/* portfolio */
#portfolio {
    border: 3px solid purple;
}
.img-test {
    border: 3px dashed cadetblue;
    min-height: 100px;
    min-width: 150px;
}


/* about */
#about {
    border: 3px solid black;
    min-height: 200px;
}

#about .col-12 {
    border: 2px dashed orange;
    min-height: 50px;
}


/* contacts */
#contacts {
    border: 3px solid blue;
    min-height: 200px;
}

#contacts .col {
    border: 2px dashed goldenrod;
    min-height: 50px;
}


/* footer */

/* info */
.info{
    border: 3px solid deeppink;
    min-height: 150px;
}

.info .col-12 {
    border: 2px dashed black;
    min-height: 150px;
}

/* copyright */
.copyright {
    border: 3px solid black ;
    min-height: 80px;
}

.copyright .col {
    border: 2px dashed blue;
    min-height: 80px;
}